.toolbar {
  position: fixed;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  
  /* display: flex; */
  
}

.icon {
  width: px;
  height: 48px;
  fill: #000;
  cursor: pointer;
  margin: 0 10px;
}

.canvas {
  /* Add styles for your canvas container */
}
